<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px
  }
</style>

<div>
  <img src="../assets/LogoWithTitle.png" />
  <span>Oi, {{name}}</span>

  <br />

  <span>Você criou uma conta parabéns, falta pouco para completarmos seu cadastro.</span>
  <span>Para realizar a confirmação, clique no link
    <a href={{link}}>{{link}}</a>
  </span>
  <span>Caso não tenha sido você quem solicitou o cadastro, basta ignorar este e-mail</span>
  <strong>Obrigado!</strong>
  <h3>Equipe | <strong>Cherry-Go</strong></h3>
</div>
